
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driver Distraction Detection</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <!-- Font Icon -->
    <link rel="shortcut icon" type="image/png" href="~/Strdash/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/Strdash/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/Strdash/assets/css/typography.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/default-css.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/styles.css">
    <link rel="stylesheet" href="~/Strdash/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Strdash/assets//js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body style="height:auto !important">
    <main role="main">



















        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">

            <title>Driver Violation</title>
            <meta content="" name="description">
            <meta content="" name="keywords">

            <!-- Favicons -->
            <link href="~/assets/img/favicon.png" rel="icon">
            <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.gstatic.com" rel="preconnect">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

            <!-- Vendor CSS Files -->
            <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
            <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
            <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
            <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href="~/assets/css/style.css" rel="stylesheet">

            <!-- =======================================================
            * Template Name: NiceAdmin
            * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
            * Updated: Apr 20 2024 with Bootstrap v5.3.3
            * Author: BootstrapMade.com
            * License: https://bootstrapmade.com/license/
            ======================================================== -->
        </head>

        <body>

            <main>
                <div class="container">

                    @RenderBody()

                </div>
            </main><!-- End #main -->

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
            <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
            <script src="~/assets/vendor/echarts/echarts.min.js"></script>
            <script src="~/assets/vendor/quill/quill.js"></script>
            <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
            <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
            <script src="~/assets/vendor/php-email-form/validate.js"></script>

            <!-- Template Main JS File -->
            <script src="~/assets/js/main.js"></script>

        </body>

    </html>
</main>

<!-- JS -->
<!-- jquery latest version -->
<script src="~/Strdash/assets//js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="~/Strdash/assets/js/popper.min.js"></script>
<script src="~/Strdash/assets/js/bootstrap.min.js"></script>
<script src="~/Strdash/assets/js/owl.carousel.min.js"></script>
<script src="~/Strdash/assets/js/metisMenu.min.js"></script>
<script src="~/Strdash/assets/js/jquery.slimscroll.min.js"></script>
<script src="~/Strdash/assets/js/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="~/Strdash/assets/js/plugins.js"></script>
<script src="~/Strdash/assets/js/scripts.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" crossorigin="anonymous" integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
</script>
<script>    (window.jQuery && window.jQuery.validator || document.write("\u003Cscript src=\u0022/driverViolation/Identity/lib/jquery-validation/dist/jquery.validate.min.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o\u002Bok\u002Bt/SAKlL5mvXLr0OXNi1Hp\u0022\u003E\u003C/script\u003E"));</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" crossorigin="anonymous" integrity="sha384-R3vNCHsZ+A2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R+93YzTeZRah7f/F">
</script>
<script>(window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive || document.write("\u003Cscript src=\u0022/driverViolation/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha384-R3vNCHsZ\u002BA2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R\u002B93YzTeZRah7f/F\u0022\u003E\u003C/script\u003E"));</script>

    @RenderSection("Scripts", required: false)


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
